; Installation mode. It can be user or admin.
; NOTE: for admin mode please use "Run as Administrator" for command prompt to avoid UAC dialog.
mode=admin

; Desktop shortcut for launchers
launcher64=1

; Add launchers path to PATH env variable
updatePATH=0

; Add "Open Folder as Project" to context menu
updateContextMenu=0


; List of associations. To create an association change value to 1.
.c=0
.h=0
.C=0
.cpp=0
.cxx=0
.hpp=0
.hxx=0
